@charset "UTF-8";
#bottom{
	clear:both;
	width:100vw;
	height:180px;
	background-color:rgba(105, 129, 234, 50%);
	position:relative;
	padding:0 !important;
}
#footer{
	width:90vw;
	padding-left:20vw;
}
#footerLogo{
    float:left;
    margin-right:6vw;
/* ======= */
/*     margin-right:20vw; */
/* >>>>>>> ff359d0e13ef48dbe54143552e78a3ad32871733 */
}
#footerLogo img{
    margin-top:0.8vw;
    width:8vw;
}
#footerContent{
    float:left;
    margin-top:1vw;
    margin-right:6vw;
    display:inline-block;
    color:white;
}
#footerBold{
    font-weight:600;
}
#footerEtc{
    display:inline-block;
}
#footerEtc i{
    margin-top:60px;
    font-size:2.5em;
    color:white;
}
