@charset "UTF-8";
#loginContainer{
	clear:both;
	font-family: 'NanumSquare';
	width:50vw;
	height:40vw;
	position:absolute;
	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	border-radius:25px;
 	box-shadow:0 0 30px rgba(122, 140, 226, 60%);
	display: inline-flex;
}
/*=====로고 영역=========*/
#logoContainer{
	width:50%;
	height:100%;
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;
	position:relative;
}
#logo{
	width:10vw;
	height: 10vw;
	align-items : center;
	margin-top: 15vw;
	margin-left: 7.5vw;
	position:absolute;
	transition:0.3s;
	border-radius:60%;
}
#logo:hover{
	border-radius:100%;
	box-shadow:0 0 50px rgba(122, 140, 226, 80%);
}
/*=====로그인 입력, 버튼 영역=========*/
#loginInfoContainer{
	width:50%;
	height:100%;
	text-align:center;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	text-align:center;
	background-color:rgba(122, 140, 226, 50%);
}
#loginTitle{
	font-family: 'HaenamFont';
	font-size:2.5em;
	font-weight:900;
	letter-spacing:5px;
	margin: 6.25vw 0px;
	color:rgb(42, 76, 211);
}
#loginFrm ul{
	margin:0 !important;
	list-style-type:none;
}
.otherLogin img{
 	width:80%;
 	margin:20px 0px;
 	border-radius:10px;
 	box-shadow:0 0 20px rgba(122, 140, 226, 60%);
 	transition:0.3s;
}
.otherLogin img:hover{
	width:90%;
}
