@charset "UTF-8";
#mypageContainer{
	min-height:80vh;
}
/*=============슬라이드바================*/
#mypageSlidebar{
	width:20%;
	float:left;
}
/*=============마이페이지 컨텐츠================*/
#mypageContent{
	display:inline-block;	
}