@charset "UTF-8";
#profileContainer{
	width:60vw;
	min-height: 42vw;
	position:relative;
	margin:0 auto;
	box-shadow:rgba(0,0,0,60%);
	border-radius:15px;
}
/*====================프로필=====================*/
#profile{
	width:60vw;
	height:25vh;
	float:left;
	padding:30px 200px;
	display:block;
}
#profileImg{
	width:150px;
	height:150px;
	border-radius:50%;
}
#profileNick{
	font-size:2em;
	font-weight:700;
	color:rgba(0,0,0,60%);
}
#userEditBtn{
	width:120px;
	height:40px;
	float:right;
	margin:5vh 0;
	border:none;
	border-radius:10px;
	transition:0.3s;
	font-weight:600;
	color:rgba(0,0,0,70%);
	background:none;
}
#userEditBtn:hover{
	background-color:rgba(122, 140, 226, 60%);
	color:white;
}

/*===================팔로우 영역=====================*/
#followSection{
	clear:both;
	width:60vw;
	height:2vw;
	margin:50px 0px;
	text-align:center;
	position:relative;
}
#followSection>span{
	padding:0 50px;
	font-size:1.1em;
	font-weight:600;
	color:rgba(0,0,0,70%);
}
.follow{
	cursor:pointer;
	transition:0.3s;
}
.follow:hover{
	background-color:rgba(122, 140, 226, 60%);
	color:white !important;
	border-radius:15px;
}
/*===================팔로워 모달=====================*/
.modal-header{
	text-align:center;
}
.modal-body{
	height:300px;
	overflow:auto;
}
#followerList{
	list-style-type:none;
}
#followerList{
	height:60px;
	line-height:60px;
}
#followerImg, #followImg{
	width:40px;
	height:40px;
	border-radius:50%;
}
.followerBtn{
	background-color:rgba(122, 140, 226, 60%);
	border-radius:10px;
	color:white;
}

/*====================탭 설정=====================*/
#mypageTabSection{
	width:60vw;
	clear:both;
	position:relative;
	margin:0 auto;
}
#tab{
	margin:0 auto;
}
.current{
	display:block;
}
/*====================log 글====================*/
.log_list_div{
	clear:both;
	float:center;
	width:60vw;
	position:relative;
}
.log_div{
	margin:1vw;
	padding:2vw;
	width:18vw;
	display:inline-block;
	text-align:center;
	border-radius:15px;
	box-shadow:0 0 10px rgba(0,0,0,30%);
}
.log_div i{
	color:rgba(0,0,0,30%);
}
.log_ul{
	list-style-type:none;
}
.log_ul li{
	height:35px;
	line-height:35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.log_ul li:first-child{
	height:100%;
	line-height:40px;
}
.coverImg{
	width: 14vw;
	height: 12vw;
	margin-bottom:1vw;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0,0,0,30%);
	object-fit: cover;
}
.profileInfo{
	height:40px;
	line-height:40px;
	text-align:left;
	padding:0px 30px;
	cursor:pointer;
}
.logProfileImg{
	width:40px;
	height:40px;
	border-radius:50%;
}
.logLike{
	float:right;
}
.logTitle{
	font-size:1.1em;
	font-weight:600;
	cursor:pointer;
}
.tags{
	display:inline-block;
	background-color:var(--theme-lightblue-30);
	padding-left:5px;
	padding-right:5px;
	border-radius:10px;
	font-size:1em;
	line-height:1.5em;
}
.current{
	display : block;
}