@charset "UTF-8";
#logListContainer{
	width:60vw;
	margin:0 auto;
}
/*===================로그리스트 버튼, 검색부분=====================*/
#logListTop{
	margin:30px 0px;
	width:60vw;
}
#btnArea{
	float:left;
}
/*모든 버튼들*/
.logListBtn{
	border:none;
	background-color:var(--theme-lightblue-60);
	color:white;
	border-radius:10px;
	padding:5px 10px;
	position:relative;
	overflow:hidden;
}
.logListBtn:focus{
	outline: none;
}
.logListBtn::before{
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,75%);
	top:100%;
	left:0;
	transition:all 0.3s;
	z-index:-1;
	
}
.logListBtn:hover::before{
	transform:translateY(-100%);
}
#searchFrm{
	float:right;
	display:inline-block;
}
#searchKey, #searchWord{
	border-radius:10px;
	padding:5px;
	border:1px solid rgba(0,0,0,30%);
	text-align:center;
}
/*======탑으로 가는 버튼=======*/
#top_btn{
	position:fixed;
	bottom:2%;
	right:15%;
	z-index:100;
}
/*===================일기 게시물=====================*/
.log_list_div{
	clear:both;
	float:center;
	width:60vw;
	position:relative;
}
.log_div{
	margin:1vw;
	padding:2vw;
	width:18vw;
	display:inline-block;
	text-align:center;
	border-radius:15px;
	box-shadow:0 0 10px rgba(0,0,0,30%);
}
.log_div i{
	color:rgba(0,0,0,30%);
}
.log_ul{
	list-style-type:none;
}
.log_ul li{
	height:35px;
	line-height:35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.log_ul li:first-child{
	height:100%;
	line-height:40px;
}
.coverImg{
	width:14vw;
	height:12vw;
	margin-bottom:1vw;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0,0,0,30%);
	object-fit: cover;
}
.profileInfo{
	height:40px;
	line-height:40px;
	text-align:left;
	padding:0px 30px;
	cursor:pointer;
}
.logProfileImg{
	width:40px;
	height:40px;
	border-radius:50%;
}
.logLike{
	float:right;
}
.logTitle{
	font-size:1.1em;
	font-weight:600;
	cursor:pointer;
}
.tags{
	background-color:var(--theme-lightblue-30);
	padding:3px 5px;
	border-radius:10px;
}

/*=============== TAG LIST ===============*/
.tag_wrap{
	width: 100%;
	/*background-color: #959595;*/
	margin-bottom: 75px;
}

.tag_wrap .txt_title{
	padding-top: 50px;
}

.tag_list{
	margin: 50px auto 0;
	width: 100%;
	text-align: center;
}

.tag_item, .tag_item_end{
	float: left;
	width: 10vw;
	height:10vw;
	border: 1px solid #eee;
	font-size: 14px;
	line-height: 18px;
	background-color: white;
}

.tag_item>p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* ===== 게시글 없을시 띄워줄 태그 색상 ===== */
#tag1:hover, #tag2:hover{
	border-color: rgb(42, 76, 211, 70%);
	color: white;
	background-color: rgb(42, 76, 211, 70%);
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag3:hover, #tag4:hover, #tag5:hover, #tag6:hover, #tag7:hover{
	border-color: rgba(122, 140, 226, 80%);
	color: white;
	background-color: rgba(122, 140, 226, 80%);
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag3:hover, #tag4:hover, #tag5:hover, #tag6:hover, #tag7:hover{
	border-color: rgba(122, 140, 226, 80%);
	color: white;
	background-color: rgba(122, 140, 226, 80%);
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag8:hover, #tag9:hover, #tag10:hover, #tag11:hover, #tag12:hover, #tag13:hover, #tag14:hover{
	border-color: rgba(122, 140, 226, 30%);
	color: white;
	background-color: rgba(122, 140, 226, 30%);
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag15:hover, #tag16:hover, #tag17:hover, #tag18:hover, #tag19:hover, #tag20:hover{
	border-color: #C3E2DD;
	color: white;
	background-color: #C3E2DD;
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag21:hover, #tag22:hover, #tag23:hover, #tag24:hover, #tag25:hover{
	border-color: #FEF5D4;
	color: white;
	background-color: #FEF5D4;
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}

#tag26:hover, #tag27:hover, #tag28:hover, #tag29:hover{
	border-color: #EACACB;
	color: white;
	background-color: #EACACB;
	text-decoration: none;
	z-index: 2;
	font-weight : bold;
}