@charset "UTF-8";

.homeContainer{
	min-height: 85vh;
	margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

/*=============== INTRODUCE ===============*/
.introduce_wrap{
	margin: 0 auto;
	height: 500px;
	width: 100%;
	margin-bottom: 75px;
	overflow: hidden;
}

.introduce_b{
	position:absolute; 
    top:95px; 
    left:0;
    height: 500px;
	width: 100%;
	float: left;
}

.introduce_img{
	width: 100%;
	height: 500px;
}

.introduce_img>img{
	width: 100%;
	height: 500px;
}

.introduce_info{
	color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 275px;
    z-index: 3;
    margin:auto;
    text-align: center;
    transform: translate(0, 50%);
}

.introduce_bg{
	position: absolute;
    text-align: center;
    top: 0;
	height: 500px;
	width: 100%;
	background-color: rgba(40 40 40 / 40%);
}

.introduce_info>h3{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 50px;
}

.introduce_info>p{
	margin-top: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 25px;
}

.introduce_info>button{
	margin-top:35px;
}

.introduce_b>i{
	position: absolute;
    text-align: center;
    bottom: 0;
	margin-top:-20px;
	font-size: 60px;
	z-index: 20;
	width: 100%;
	color: white;
}

/*=============== SLIDE ===============*/
.editor_pic{
	height: 705px;
	margin-top: 45px;
    position: relative;
	padding-top: 70px;
}

.wrap_slide{
	width: 70vw;
	height: 520px;
	position: relative;
	margin: 0 auto;
	overflow: visible;
}
.wrap_slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.not_follower{
	background-color: rgb(250 250 250);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	
    text-align: center;
}

.not_follower_wrap{
	position: absolute;
    text-align: center;
    top: 0;
    margin:auto;
    width: 100%;
	height: 50%;
	margin-top: 20%;
}


.list_slide{
	position: absolute;
    top: 0;
    width: 500%;
    transform: translate(-20%, 0px);
}

.list_slide li {
    float: left;
}

.wrap_pic{
	overflow: hidden;
	width: 70vw;
}

.item_pic {
	height: 100%;
    width: 100%;
    float: left;
    position: relative;
}

.link_item {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.link_item_g {
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(40 40 40 / 40%);
}

.append_info{
	height: 150px;
    width: 250px;
}

/* item_pic_type1의 append_info */
.item_pic_type1 .append_info {
    color: #fff;
    left: 50%;
    margin-left: -50%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translate(0,35%);
}

.item_pic_type1 img{
	height: 520px;
}

/* item_pic_type2의 append_info */
.item_pic_type2 .append_info {
    color: #fff;
    left: 50%;
    margin-left: -50%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*transform: translate(0, 30%);*/
    padding-top: 80px;
}

.item_pic_type2 img{
	width: 35vw;
}

.info_g{
	display: inline-block;
    vertical-align: middle;
}

.info_tit {
	display: block;
    /*font-family: "Nanum Myeongjo",sans-serif;*/
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -.025em;
    line-height: 36px;
    padding-top: 12px;
}

.info_by{
	display: block;
	color: #fff;
    /*font-family: "Noto Sans Light",sans-serif;*/
    font-size: 15px;
    opacity: .8;
    padding-top: 10px;
}

/* SLIDE TYPE1 */
.wrap_pic_type1 .item_pic_type1{
	position: relative;
	height: 520px;
    width: 50%;
}

.wrap_pic_type1 .item_pic_type2, .wrap_pic_type1 .item_pic_type3{
	position: relative;
	height: 260px;
    width: 50%;
}

/* SLIDE TYPE2 */
.wrap_pic_type2 .item_pic{
	height: 520px;
    width: 23.3333333vw;
}


/* SLIDE TYPE3 */
.wrap_pic_type3 .item_pic{
	height: 260px;
    width: 50%;
}

/*=============== SLIDE BUTTON ===============*/
.wrap_btn{
    position: absolute;
    top: 50%;
    left: 0vw;
    z-index: 10;
	width: 70vw;
	height: 7vw;
    font-size: 65px;
}

.wrap_btn .slide_btn{
	cursor: pointer;
	color: white;
}
#leftBtn, #rightBtn{
	box-shadow: none;
	outline: none;
	border: none;
	background: none;
	
	height: 70px;
	width: 70px;
	margin-top: 28px;
}

.btn_left{
	margin-left: -120px;
	float: left;
}

.btn_right{
	margin-right: -120px;
	float: right;
}

/*=============== SLIDE PAGING ===============*/
.wrap_paging {
    margin: 22px auto 0;
    text-align: center;
    width: 960px;
}

.paging_list{
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}

.paging_list>li{
	display: inline;
	text-align: center;
}

.paging_list>li>a{
	/*color:rgb(138, 138, 138);*/
}

.link_page{
	float: left;
	display:block;
	font-size: 14px;
	padding: 5px 12px;
	line-height: 2;
	font-weight : bold;
}

.clicked  {
	background: rgba(138, 138, 138, 80%);
	font-weight : bold;
	border-radius: 50%;
}

/*=============== BEST FOLLOW ===============*/
.best_follow{
	background: #fafafa;
    margin: 70px auto;
    padding-top: 70px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
}

.txt_title{
	text-align:center;
}

.txt_desc{
	text-align:center;
	color:rgb(138, 138, 138);
	margin-bottom:50px;
}

.wrap_follow{
	margin: 50px auto 85px;
	width: 960px;
}

.list_wirters li {
	float: left;
    height: 100%;
    margin-bottom: 60px;
    margin-left: 20px;
    position: relative;
    text-align: center;
    width: 300px;
}

.link_follow{
	background: #fff;
    display: block;
    min-height: 288px;
    padding: 46px 40px;
    text-decoration: none;
}

.link_follow .img_witer{
	height: 80px;
    margin: 0 auto;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    position: relative;
}

.link_follow .tit_wirter{
	word-wrap: break-word;
    /*font-family: "Nanum Myeongjo",sans-serif;*/
    font-size: 20px;
    letter-spacing: -.02em;
    line-height: 28px;
    max-height: 57px;
    padding: 25px 12px 0;
    white-space: normal;
    word-break: keep-all;
    text-align: center;
    display: block;
}

.follow_tag_wrap{
	bottom: -15px;
    position: absolute;
    width: 100%;
    background: none;
    text-align: center;
}

.follow_tag_wrap>span{
	border-color: #ddd;
    border-radius: 20px;
    /*font-family: "Noto Sans Light","Malgun Gothic",sans-serif;*/
    font-size: 12px;
    letter-spacing: -1px;
    padding: 4px 10px;
    background-color: #fff;
    border: 1px solid #eee;
    color: #959595;
    display: inline-block;
    line-height: 18px;
    margin: 0 2px;
    overflow: hidden;
}

.follow_count{
	margin-top: -95px;
    margin-bottom: 35px;
}

/*=============== TAG LIST ===============*/
.tag_wrap{
	width: 100%;
	//height: 850px;
	/*background-color: #959595;*/
	margin-bottom: 75px;
}

.tag_wrap .txt_title{
	padding-top: 70px;
}

.tag_list{
	margin: 50px auto 0;
    width: 720px;
    text-align: center;
}

.tag_item, .tag_item_end{
    float: left;
	width: 119px;
	height: 119px;
	border: 1px solid #eee;
	font-size: 14px;
	line-height: 18px;
	background-color: white;
}

.tag_item>p{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ===== 태그 색상 ===== */
#tag1:hover, #tag2:hover{
    border-color: rgb(42, 76, 211, 70%);
    color: white;
    background-color: rgb(42, 76, 211, 70%);
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag3:hover, #tag4:hover, #tag5:hover, #tag6:hover, #tag7:hover{
    border-color: rgba(122, 140, 226, 80%);
    color: white;
    background-color: rgba(122, 140, 226, 80%);
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag3:hover, #tag4:hover, #tag5:hover, #tag6:hover, #tag7:hover{
    border-color: rgba(122, 140, 226, 80%);
    color: white;
    background-color: rgba(122, 140, 226, 80%);
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag8:hover, #tag9:hover, #tag10:hover, #tag11:hover, #tag12:hover, #tag13:hover, #tag14:hover{
    border-color: rgba(122, 140, 226, 30%);
    color: white;
    background-color: rgba(122, 140, 226, 30%);
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag15:hover, #tag16:hover, #tag17:hover, #tag18:hover, #tag19:hover, #tag20:hover{
    border-color: #C3E2DD;
    color: white;
    background-color: #C3E2DD;
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag21:hover, #tag22:hover, #tag23:hover, #tag24:hover, #tag25:hover{
    border-color: #FEF5D4;
    color: white;
    background-color: #FEF5D4;
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}

#tag26:hover, #tag27:hover, #tag28:hover, #tag29:hover{
    border-color: #EACACB;
    color: white;
    background-color: #EACACB;
    text-decoration: none;
    z-index: 2;
    font-weight : bold;
}