<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tworaveler.tlog.admin.AdminDAO">
	<select id="selectTlogTotalPosts" resultType="int">
		SELECT COUNT(tNum)
		FROM travelLog
	</select>
	<select id="selectBoardTotalPosts" resultType="int">
		SELECT COUNT(boardNum)
		FROM board
	</select>
	<select id="selectTlog" resultType="LogVO">
		SELECT l.tNum, l.tTitle, l.userNum, u.userNick,
			   date_format(l.writeDate, "%Y%m/%d %H:%i")writeDate
		FROM   travelLog l
		JOIN   user u
		ON     l.userNum = u.userNum
		ORDER BY tNum desc 
		LIMIT ${param1.postsPerPage} 
		OFFSET ${param1.offset}
	</select>
	<select id="selectBoard" resultType="logVO">
		SELECT b.boardNum, b.boardContent, b.writedate, b.userNum, u.userNick
		FROM board b
		JOIN user u
		ON b.userNum = u.userNum
	</select>
	<select id="selectTotalUser" resultType="int">
		SELECT COUNT(userNum)
		FROM user
	</select>
</mapper>