<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tworaveler.tlog.admin.AdminDAO">
	<select id="selectTotalPosts" resultType="int">
		SELECT COUNT(gatherno)count FROM report
	</select>
</mapper>