<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tworaveler.tlog.board.BoardDAO">
	<!-- 글 작성 자유일기-->
	<insert id="boardInsert">
		insert into board(boardContent,userNum,ip) 
		values(#{boardContent},#{userNum},#{ip})
	</insert>
	
	<!-- 최신순으로 글 리스트 보이기 자유일기 -->
	<select id="selectRecent" resultType='com.tworaveler.tlog.board.BoardVO'>
		select a.boardNum, a.boardContent, substring_index(ip,':','2') ip, b.profileImg, b.userNick, b.userNum, date_format(a.writedate,'%y-%m-%d %H:%i') writedate from board a 
		join user b on b.userNum = a.userNum 
		order by boardNum desc 
		limit #{param1},#{param2}
	</select>
	
	<!-- 글 삭제 -->
	<delete id="deleteBoard">
		delete from board where boardNum=#{param1}
	</delete>
	
</mapper>